*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: green;
}

.deck{
    display: flex;
}

.deck > *{
    border: 5px solid orangered;
    background: orange;
    width: 226px;
    height: 314px;
}

.cards > .cards--colour{
    border: 5px solid blue;
    background: blue;
}

.cards > .draw_card {
    border: 5px solid orangered;
    background: orangered;
}